<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Pannello di Controllo</title>
</head>
<body>
<h1>Pannello Di Controllo</h1>
<div>
<ul>
		<li th:each="utente : ${utenti}">
			<a th:href="@{/dettagliUtente(id=${utente.id})}" th:text="${utente.username}"></a>
			
			
		</li>
	</ul>
	<div th:if="${cancellato}">
		<span th:text="${utente.username} + ' cancellato correttamente!'"></span> 
		
	</div>
</div>

</body>
</html>