<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<style type="text/css">
body {
background: url(https://kunstmuseumbasel.ch/storage/11_mg4871_4453008e.jpg) no-repeat center center fixed;
background-size: 100%;
padding-top:70px;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;

}
.navbar-default .navbar-nav>li>a {
    padding-bottom: 24px;
    }
    .myBackground{
    background-color:rgba(255,255,255,0.9);
    color:inerith;}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Dettagli Utente</title>
</head>
<body>
<nav class="navbar navbar-default col-md-12 navbar-fixed-top">
<ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="index"><font color="blue"> Home </font> <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="lista"><font color="red"> Lista Quadri</font></a></li>
           <li class="active"><a href="inserimento" sec:authorize="hasAuthority('ADMIN')"><font color="green"> Nuovo Quadro</font> <span class="sr-only">(current)</span></a></li>
		  <li class="active"><a href="admin" sec:authorize="hasAuthority('ADMIN')"><font color="black"> Pannello di controllo</font></a></li>
    </ul>
        		
    <fieldset sec:authorize="isAuthenticated()" style="padding: 12px">
    
    Benvenuto: <span sec:authentication="name"></span>! <span sec:authorize="hasAuthority('ADMIN')" sec:authentication="principal.authorities"></span>
   <button class="btn btn-outline-success my-1 my-sm-0 active text-danger" type="submit" form="formLogout">Logout</button>
    <form  action="#" th:action="@{/logout}" method="POST" id="formLogout"></form>
    		
    </fieldset>
    </nav>
    <div class="container">
    <div class="jumbotron myBackground">
	<h1 th:text = "'Dettagli di: ' + ${utente.username}">Utente</h1>
	<ul>
		<li th:text = "'Indirizzo email: ' + ${utente.email}"></li>
		<li th:text = "'Username Utente ' + ${utente.username}"></li>
		<li th:text = "'Nome Utente: ' + ${utente.nome}"></li>
		<li th:text = "'Ruolo Utente: ' + ${utente.ruoliUtente.ruolo}"></li>
	</ul>
	<a th:href="@{/modificaUtente(id=${utente.id})}" style ="color:red">Modifica</a>  
	 <a th:href="@{/rimuoviUtente(id=${utente.id})}" style ="color:red">Rimuovi</a>

	
	<form style="display:inline; margin-top:10px">
		<button formaction = "/admin" type = "submit" formmethod = "GET">Torna alla lista Utenti!</button>
	</form>
	</div>
	</div>
</body>
</html>