<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<style type="text/css">
body {
background: url(https://kunstmuseumbasel.ch/storage/11_mg4871_4453008e.jpg) no-repeat;
background-size: 100%;
padding-top:70px;
}
.navbar-default .navbar-nav>li>a {
    padding-bottom: 24px;
    }
      .myBackground{
    background-color:rgba(255,255,255,0.9);
    color:inerith;}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
	    $('#ruoloUtente').change(function () {
	      $('#autoUpdate').fadeToggle();
	    });
	});
</script>
<style type="text/css">
	#autoUpdate{
	display:none;
				}
</style>
<title>modifica Quadro</title>
</head>
<body>
<nav class="navbar navbar-default col-md-12 navbar-fixed-top">
<ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="index"><font color="blue"> Home </font> <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="lista"><font color="red"> Lista Quadri</font></a></li>
           <li class="active"><a href="inserimento" sec:authorize="hasAuthority('ADMIN')"><font color="green"> Nuovo Quadro</font> <span class="sr-only">(current)</span></a></li>
		  <li class="active"><a href="admin" sec:authorize="hasAuthority('ADMIN')"><font color="black"> Pannello di controllo</font></a></li>
    </ul>
        		
      <fieldset sec:authorize="isAuthenticated()" style="padding: 12px">
    
    Benvenuto: <span sec:authentication="name"></span>! <span sec:authorize="hasAuthority('ADMIN')" sec:authentication="principal.authorities"></span>
   <button class="btn btn-outline-success my-1 my-sm-0 active text-danger" type="submit" form="formLogout">Logout</button>
    <form  action="#" th:action="@{/logout}" method="POST" id="formLogout"></form>
    		
    </fieldset>

	<div>
	    <div class="container">
    <div class="jumbotron myBackground">
		<form action="#" enctype="multipart/form-data" th:action="@{/modificaQuadro}" th:object="${quadro}" method="POST">
			<h1>Modifica Dati Quadro</h1>

			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{autore.id}" />

			<div style="margin-top: 10px">
				Titolo : <input type="text" th:field="*{titolo}" /> <span
					th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}">Error</span>
			</div>

			<div style="margin-top: 10px">
				Tecnica : <input type="text" th:field="*{tecnica}" /> <span
					th:if="${#fields.hasErrors('tecnica')}" th:errors="*{tecnica}">Error</span>
			</div>

			<div style="margin-top: 10px">
				Dimensioni : <input type="text" th:field="*{dimensioni}" /> <span
					th:if="${#fields.hasErrors('dimensioni')}" th:errors="*{dimensioni}">Error</span>
			</div>

			<div style="margin-top: 10px">
				Anno di Realizzazione : <input type="text" th:field="*{anno}" /> <span
					th:if="${#fields.hasErrors('anno')}" th:errors="*{anno}">Error</span>
			</div>

			<div style="margin-top: 10px">
				Immagine (SOLO FORMATO .JPG): <input type = "file" name ="immagineQuadro" accept=".jpg"/>
			</div>

			<span><button type="submit">Modifica Dati Quadro</button></span>
			<button type="submit" form="homeForm"
				style="disply: inline; margin-left: 5px">Torna alla home!</button>
		</form>

		<!-- Questa form ci fa tornare alla homepage, ma il bottone che la fa partire sta dentro l'altra form -->

		</div>
		</div>
		
	</div>
</body>
</html>