<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<style type="text/css">
body {
background: url(https://kunstmuseumbasel.ch/storage/11_mg4871_4453008e.jpg) no-repeat;
background-size: 100%;
padding-top:70px;
}
  .myBackground{
    background-color:rgba(255,255,255,0.9);
    color:inerith;}
.navbar-default .navbar-nav>li>a {
    padding-bottom: 24px;
    }
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
	    $('#ruoloUtente').change(function () {
	      $('#autoUpdate').fadeToggle();
	    });
	});
</script>
<style type="text/css">
	#autoUpdate{display:none;
				}
</style>
<title>modifica Autore</title>
</head>
<body>
<nav class="navbar navbar-default col-md-12 navbar-fixed-top">
<ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="index"><font color="blue"> Home </font> <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="lista"><font color="red"> Lista Quadri</font></a></li>
           <li class="active"><a href="inserimento" sec:authorize="hasAuthority('ADMIN')"><font color="green"> Nuovo Quadro</font> <span class="sr-only">(current)</span></a></li>
		  <li class="active"><a href="admin" sec:authorize="hasAuthority('ADMIN')"><font color="black"> Pannello di controllo</font></a></li>
    </ul>
        		
    <fieldset sec:authorize="isAuthenticated()" style="padding: 12px">
    
       Benvenuto: <span sec:authentication="name"></span>! <span sec:authorize="hasAuthority('ADMIN')" sec:authentication="principal.authorities"></span>
   <button class= "btn btn-danger" type="submit" form="formLogout">Logout</button>
    <form  action="#" th:action="@{/logout}" method="POST" id="formLogout"></form>
    		
    </fieldset>
    </nav>
	<div class="container">
    <div class="jumbotron myBackground">
  <div class="row">
     <h1 class="text-center" style="color:blue">Modifica Dati Autore</h1>
  
    <div class="col-md-4 col-md-offset-4">
      <form class="form-horizontal" role="form" enctype="multipart/form-data" action="#"  th:action="@{/modificaAutore}" th:object = "${autore}" method = "POST"> 
             <fieldset>


          <div class="form-group">
            <label class="col-sm-2 control-label" for="nomeAutore">Nome Autore</label>
            <div class="col-sm-10">
              <input type="text" placeholder="Nome" class="form-control" id="nomeAutore" th:field = "*{nome}" th:readonly = "${inseritoCorrettamente}"/>
<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Error</span>
            </div>
          </div>
			
			
		   <div class="form-group">
            <label class="col-sm-3 control-label" for="cognomeAutore">Cognome</label>
            <div class="col-sm-9">
              <input type="text" placeholder="Cognome" class="form-control" id="cognomeAutore" th:field = "*{cognome}" th:readonly = "${inseritoCorrettamente}"/>
              <span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}">Error</span>

            </div>
          </div>

			
		 <div class="form-group">
            <label class="col-sm-3 control-label" for="nazionalita">Nazionalità</label>
            <div class="col-sm-9">
              <input type="text" placeholder="Nazionalità"  class="form-control" id="nazionalita" th:field = "*{nazionalita}" th:readonly = "${inseritoCorrettamente}"/> 
              <span th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}">Error</span>
            </div>
          </div>
			
		<div class="form-group">
            <label class="col-sm-3 control-label" for="dataob">Data di Nascita</label>
            <div class="col-sm-9">
              <input type="date" class="form-control" th:field = "*{dob}" id="dataob" th:readonly = "${inseritoCorrettamente}"/>                            
              <span th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}">Error</span>
              </div>
              </div>
		<div class="form-group">
            <label class="col-sm-3 control-label" for="dataod">Data di Morte</label>
            <div class="col-sm-9">
              <input type="date" class="form-control" th:field = "*{dod}" id="dataob" th:readonly = "${inseritoCorrettamente}"/>                           
               <span th:if="${#fields.hasErrors('dod')}" th:errors="*{dod}">Error</span>
            </div>
      </div>
			

		<span><button class="btn btn-md btn-primary" type="submit">Modifica Dati Autore</button></span>
				</fieldset>

</form>
</div>
	</div>
	</div>
	</div>
</body>
</html>