<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<style type="text/css">
body {
background: url(https://kunstmuseumbasel.ch/storage/11_mg4871_4453008e.jpg) no-repeat;
background-size: 100%;
padding-top:70px;
}
.navbar-default .navbar-nav>li>a {
    padding-bottom: 24px;
    }
      .myBackground{
    background-color:rgba(255,255,255,0.9);
    color:inerith;}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
	    $('#ruoloUtente').change(function () {
	      $('#autoUpdate').fadeToggle();
	    });
	});
</script>
<style type="text/css">
	#autoUpdate{display:none;
				}
</style>
<title>modifica Utente</title>
</head>
<body>
<nav class="navbar navbar-default col-md-12 navbar-fixed-top">
<ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="index"><font color="blue"> Home </font> <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="lista"><font color="red"> Lista Quadri</font></a></li>
           <li class="active"><a href="inserimento" sec:authorize="hasAuthority('ADMIN')"><font color="green"> Nuovo Quadro</font> <span class="sr-only">(current)</span></a></li>
		  <li class="active"><a href="admin" sec:authorize="hasAuthority('ADMIN')"><font color="black"> Pannello di controllo</font></a></li>
    </ul>
        		
        <fieldset sec:authorize="isAuthenticated()" style="padding: 12px">
    
    Benvenuto: <span sec:authentication="name"></span>! <span sec:authorize="hasAuthority('ADMIN')" sec:authentication="principal.authorities"></span>
   <button class="btn btn-outline-success my-1 my-sm-0 active text-danger" type="submit" form="formLogout">Logout</button>
    <form  action="#" th:action="@{/logout}" method="POST" id="formLogout"></form>
    		
    </fieldset>
    </nav>

	<div>
	    <div class="container">
    <div class="jumbotron myBackground">
		<form action="#" th:action="@{/modifica}" th:object="${utente}" method="POST">
			<h1>Modifica Dati Utente</h1>

			<input type="hidden" th:field="*{id}" />

			<div style="margin-top: 10px">
				Nome : <input type="text" th:field="*{nome}" /> <span
					th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Error</span>
			</div>

			<div style="margin-top: 10px">
				Cognome : <input type="text" th:field="*{cognome}" /> <span
					th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}">Error</span>
			</div>

			<div style="margin-top: 10px">
				Username : <input type="text" th:field="*{username}" /> 
				<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</span>
				<span th:if="${usernameEsistente}" th:text ="'Lo username selezionato non e' disponibile, scegline un altro!'">Error</span>
			</div>

			<div style="margin-top: 10px">
				Email : <input type="text" th:field="*{email}" /> <span
					th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</span>
			</div>

			<div style="margin-top: 10px">
				Password : <input type="password" th:field="*{password}" /> <span
					th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</span>
			</div>

			<div style="margin-top: 10px">
				<label for="ruoloUtente" style="margin-top: 10px">Cambiare
					ruolo Utente?</label> <input type="checkbox" name="RuoloUtente"
					id="ruoloUtente" />
			</div>

			<div style="margin-top: 10px; margin-bottom: 20px;">
				<select name="ruoloEsistenti" id="autoUpdate" class="autoUpdate">
					<option value="" th:disabled="true" th:selected="true">Seleziona un ruolo...</option>
					<option th:text="'USER'" th:value="'USER'" />
					<option th:text="'ADMIN'" th:value="'ADMIN'" />
				</select>
			</div>

			<span><button type="submit">Modifica Dati Utente</button></span>
			

</form>
</div>
</div>
	</div>
</body>

</html>