<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<style type="text/css">
body {
background: url(https://kunstmuseumbasel.ch/storage/11_mg4871_4453008e.jpg) no-repeat;
background-size: 100%;
padding-top:70px;
background-attachment: fixed;
}
.navbar-default .navbar-nav>li>a {
    padding-bottom: 24px;
    }
      .myBackground{
    background-color:rgba(255,255,255,0.9);
    color:inerith;}
        .navbar-default .navbar-nav>li>a:hover{
    background-color:#dddddd;
    }
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title th:text = "'Dettagli di: ' + ${autore.nome} + ' ' + ${autore.cognome}">Insert title here</title>
</head>
<body>
<nav class="navbar navbar-default col-md-12 navbar-fixed-top">
<ul class="nav navbar-nav navbar-right">
          <li ><a href="index" class="glyphicon glyphicon-home"><font color="blue"><strong> Home</strong> </font> <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="lista" class="glyphicon glyphicon-camera"><font color="red"><strong> Lista Quadri</strong></font></a></li>
           <li  ><a href="inserimento" sec:authorize="hasAuthority('ADMIN')" class="glyphicon glyphicon-picture"><font color="green"><strong> Nuovo Quadro</strong></font> <span class="sr-only">(current)</span></a></li>
		  <li ><a href="admin" sec:authorize="hasAuthority('ADMIN')" class="glyphicon glyphicon-wrench"><font color="black"><strong> Pannello di controllo</strong></font></a></li>
    </ul>
        		
      <fieldset sec:authorize="isAuthenticated()" style="padding: 12px">
    
<strong> Benvenuto: <span sec:authentication="name"></span>!</strong> <span sec:authorize="hasAuthority('ADMIN')" sec:authentication="principal.authorities"></span>
   <button class= "btn btn-danger" type="submit" form="formLogout">Logout</button>
    <form  action="#" th:action="@{/logout}" method="POST" id="formLogout"></form>
     
    		
    </fieldset>
    </nav>
        <div class="container">
    <div class="jumbotron myBackground">
	<h1 th:text = "'Dettagli di: ' + ${autore.nome} + ' ' + ${autore.cognome}" style="color:blue;">Quadro</h1>
	
	<table class="table">
		<tr><td th:text = "'Nome: ' + ${autore.nome}"> </td></tr>
		<tr><td th:text = "'Cognome: ' + ${autore.cognome}"> </td></tr>
		<tr><td th:text = "'Nazionalità: ' + ${autore.nazionalita}"> </td></tr>
		<tr><td th:text = "'Data di Nascita: ' + ${#dates.format(autore.dob, 'dd MMMM yyyy')}"> </td></tr>
		<tr th:switch ="${autore.dod == null}">
			<td th:case = "false" th:text = "'Data di morte: ' + ${#dates.format(autore.dod, 'dd MMMM yyyy')}"> </td>
			<td th:case = "true" th:text = "'Data di morte: '"> </td>
		</tr>
		
	
	</table>
	

	<div th:if = "${quadri != null}">
		<h3 th:text = "'Quadri creati da: ' + ${autore.nome} + ' ' + ${autore.cognome}">Quadri creati da Autore:</h3>

			<p th:each="quadro : ${quadri}">
				<a th:href="@{/dettagliQuadro(id=${quadro.id})}">
					<strong><span th:text="${quadro.titolo}"></span></strong>
				</a>
			</p>


	</div>
	
	<div th:if ="${modificatoCorrettamente}">
		Autore modificato correttamente
	</div>
		<div sec:authorize="hasAuthority('ADMIN')">
    <a class="btn btn-md btn-primary " th:href="@{/modificaAutore(id=${autore.id})}">
         <i class="glyphicon glyphicon-pencil" style="display:inline" ></i><span>  Modifica Autore<br/></span>
         </a> 

    <a class="btn btn-md btn-danger " th:href="@{/rimuoviAutore(id=${autore.id})}">
         <i class="glyphicon glyphicon-remove" style="display:inline"></i><span>  Rimuovi Autore<br/></span>
         </a>
	</div>

	</div>
	</div>
	
</body>
</html>