<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<style type="text/css">
body {
background: url(https://kunstmuseumbasel.ch/storage/11_mg4871_4453008e.jpg) no-repeat;
background-size: 100%;
padding-top:70px;
}
.navbar-default .navbar-nav>li>a {
    padding-bottom: 24px;
    }
      .myBackground{
    background-color:rgba(255,255,255,0.9);
    color:inerith;}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title th:text = "'Dettagli di: ' + ${autore.nome} + ' ' + ${autore.cognome}">Insert title here</title>
</head>
<body>
<nav class="navbar navbar-default col-md-12 navbar-fixed-top">
<ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="index"><font color="blue"> Home </font> <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="lista"><font color="red"> Lista Quadri</font></a></li>
           <li class="active"><a href="inserimento" sec:authorize="hasAuthority('ADMIN')"><font color="green"> Nuovo Quadro</font> <span class="sr-only">(current)</span></a></li>
		  <li class="active"><a href="admin" sec:authorize="hasAuthority('ADMIN')"><font color="black"> Pannello di controllo</font></a></li>
    </ul>
        		
      <fieldset sec:authorize="isAuthenticated()" style="padding: 12px">
    
    Benvenuto: <span sec:authentication="name"></span>! <span sec:authorize="hasAuthority('ADMIN')" sec:authentication="principal.authorities"></span>
   <button class="btn btn-outline-success my-1 my-sm-0 active text-danger" type="submit" form="formLogout">Logout</button>
    <form  action="#" th:action="@{/logout}" method="POST" id="formLogout"></form>
    		
    </fieldset>
    </nav>
        <div class="container">
    <div class="jumbotron myBackground">
	<h1 th:text = "'Dettagli di: ' + ${autore.nome} + ' ' + ${autore.cognome}">Quadro</h1>
	<ul>
		<li th:text = "'Nome: ' + ${autore.nome}"></li>
		<li th:text = "'Cognome: ' + ${autore.cognome}"></li>
		<li th:text = "'Nazionalità: ' + ${autore.nazionalita}"></li>
		<li th:text = "'Data di Nascita: ' + ${#dates.format(autore.dob, 'dd MMMM yyyy')}"></li>
		<li th:switch ="${autore.dod == null}">
			<span th:case = "false" th:text = "'Data di morte: ' + ${#dates.format(autore.dod, 'dd MMMM yyyy')}"></span>
			<span th:case = "true" th:text = "'Data di morte: '"></span>
		</li>
	</ul>
	<div th:if = "${quadri != null}">
		<h3 th:text = "'Quadri creati da: ' + ${autore.nome} + ' ' + ${autore.cognome}">Quadri creati da Autore:</h3>
		<ul>
			<li th:each="quadro : ${quadri}">
				<a th:href="@{/dettagliQuadro(id=${quadro.id})}" th:text="${quadro.titolo}"></a>
			</li>
		</ul>
	</div>
	<form style="display:inline">
		<button formaction = "index" type = "submit" formmethod = "GET">Torna alla home!</button>
	</form>
	<form style="display:inline">
		<button formaction = "/lista" type = "submit" formmethod = "GET">Torna alla lista!</button>
	</form>
	<div th:if ="${modificatoCorrettamente}">
		Autore modificato correttamente
	</div>
	<div sec:authorize="hasAuthority('ADMIN')">
		<a th:href="@{/modificaAutore(id=${autore.id})}" >Modifica Autore</a>  
		<a th:href="@{/rimuoviAutore(id=${autore.id})}">Rimuovi Autore</a>
	</div>
	</div>
	</div>
</body>
</html>