<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<style type="text/css">
body {
background: url(https://kunstmuseumbasel.ch/storage/11_mg4871_4453008e.jpg) no-repeat;
background-size: 100%;
padding-top:70px;
background-attachment: fixed;
}
.navbar-default .navbar-nav>li>a {
    padding-bottom: 24px;
    }
    
 .myBackground{
    background-color:rgba(255,255,255,0.5);
    color:inerith;
    }
    .warning{
    top:70px;
    left:100px;
    right:100px;
    position:absolute;
    }
   .navbar-default .navbar-nav>li>a:hover{
    background-color:#dddddd;
    }
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>


<title>Galleria D'arte</title>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
	//nasconde i messaggi di conferma dopo 2 secondi
	var fade_out = function() {
  		$("#errLogin").fadeOut();
  		$("#logoutSuccesso").fadeOut();
  		$("#sessione").fadeOut();
  		$("#inserito").fadeOut();
	}

	setTimeout(fade_out, 2000);
</script>
</head>
<body>

<nav class="navbar navbar-default col-md-12 navbar-fixed-top">
<ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="index"><font color="blue"> Home </font> <span class="sr-only">(current)</span></a></li>
        <li ><a href="lista"><font color="red"> Lista Quadri</font></a></li>
           <li ><a href="inserimento" sec:authorize="hasAuthority('ADMIN')"><font color="green"> Nuovo Quadro</font> <span class="sr-only">(current)</span></a></li>
		  <li ><a href="admin" sec:authorize="hasAuthority('ADMIN')"><font color="black"> Pannello di controllo</font></a></li>
    </ul>
	
  
    <form class="form-inline my-lg-0 my-5" method="post" th:action="@{/login}"  sec:authorize="!isAuthenticated()" style="display:inline;">
      <input  class="form-control mr-sm-1"  type="text" placeholder="Username"  style="padding-top:2px; margin-left:2px;"  name="username"/>
      <input  type="password"  class="form-control mr-sm-1" placeholder="password" style="padding-top:2px; margin-left:2px;"  name="password"/>
      <button class="btn btn-primary" type="submit">Login</button>
 	 <button class="btn btn-success" type="submit" form="formRegistrati">Registrati</button>
       <fieldset sec:authorize="!isAuthenticated()">      
       <label for="checkbox inline" class="bg-info" >Rimani connesso?
       
         <input type="checkbox" name="ricordami" id="checkbox1" value="on" />
         </label>
    </fieldset>
    </form>
    		<form action="register" method="GET" id="formRegistrati"></form>
    		
  <fieldset sec:authorize="isAuthenticated()" style="padding: 12px">
    
    Benvenuto: <span sec:authentication="name"></span>! <span sec:authorize="hasAuthority('ADMIN')" sec:authentication="principal.authorities"></span>
   <button class= "btn btn-danger" type="submit" form="formLogout">Logout</button>
    <form  action="#" th:action="@{/logout}" method="POST" id="formLogout"></form>
     
    		
    </fieldset>
</nav>
  <div sec:authorize="!isAuthenticated()" class="py-5"> 
  	<div class="alert alert-success warning"  th:if="${param.logout}" id="logoutSuccesso">
  			<strong><span>Hai effettuato il logout correttamente</span> </strong>
  	</div>
	<div class="alert alert-danger warning" th:if="${param.error}" id="errLogin">
		<strong><span>Username e/o Password invalidi.</span> </strong>
	</div>
	<div class="alert alert-warning warning" th:if="${param.expired}" id="sessione"> 
		<strong><span >La tua sessione è scaduta.</span> </strong>
	</div>
	<div class="alert alert-success warning" th:if="${utenteInserito}" id="inserito">  
		<span> Utente <b th:text="${utente.username}"></b> registrato correttamente!</span> 
	  </div>
	    
    </div>
  
  <h1 class="text-center text-uppercase text-muted" style="color:red"><strong>Benvenuto nel sito web della Galleria!</strong></h1>
  
<div class="container">
  	<div class="jumbotron myBackground">
		  <div id="myCarousel" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li>
		  </ol>
		
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <img src="https://upload.wikimedia.org/wikipedia/commons/6/66/VanGogh-starry_night_ballance1.jpg" />
		    </div>
		
		    <div class="item">
		      <img src="http://lacapannadelsilenzio.it/wp-content/uploads/2014/12/matisse-25.jpg" />
		    </div>
		
		    <div class="item">
		      <img src="http://s4.thingpic.com/images/eU/Dc9zf789wnESEaYvvJfuZvxF.jpeg" />
		    </div>
		  </div>
		
		  <!-- Left and right controls -->
		  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</div>
</div>
</body>
</html>