<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"/>
  <link rel="stylesheet" href="https://pingendo.github.io/templates/blank/theme.css" type="text/css"/>
<title>Galleria D'arte</title>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
	//nasconde i messaggi di conferma dopo 2 secondi
	var fade_out = function() {
  		$("#logoutSuccesso").fadeOut();
  		$("#sessione").fadeOut();
  		$("#inserito").fadeOut();
	}

	setTimeout(fade_out, 2000);
</script>
</head>
<body>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
  <nav class="navbar navbar-expand-md navbar-light bg-faded text-center fixed-top">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-center" id="navbar2SupportedContent">
        <ul class="navbar-nav text-left text-danger p-0">
          <li class="nav-item active" style="float:left">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <div>
          <form class="form-inline my-2 my-lg-0 text-center" method="post" th:action="@{/login}" style="display:inline">
            <input class="form-control mr-sm-2" type="text" placeholder="Username" name="username"/>
            <input class="form-control mr-sm-2" type="password" placeholder="password" name="password"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
          </form>
          <a class="btn btn-outline-success my-2 my-sm-0" href="register">Registrati </a>
        </div>
      </div>
    </div>
  </nav>
 
  <h1 class="text-center text-uppercase text-muted"><b>Benvenuto nel sito web della Galleria!</b></h1>
  <p sec:authorize="hasAuthority('ADMIN')">
    <a href="inserimento">Clicca qui</a> per andare all'inserimento di un quadro! </p>
  <p sec:authorize="hasAuthority('ADMIN')">
    <a href="admin">Clicca qui</a> per andare al pannello di controllo! </p>
      <p>
    <a href="lista">Lista quadri</a>
     <div sec:authorize="!isAuthenticated()" class="py-5"> <span th:if="${param.logout}" style="margin-left:5px; display:inline-block" id="logoutSuccesso">Hai effettuato il logout correttamente</span> 
    <span th:if="${param.error}" style="display:inline-block">Username e/o Password invalidi.</span> <span th:if="${param.expired}"
      style="margin-left:5px; display:inline-block" id="sessione">La tua sessione e' scaduta.</span> <span th:if="${utenteInserito}" style="margin-left:5px; display:inline-block" id="inserito">
            	Utente <b th:text="${utente.username}"></b> inserito correttamente!
            </span> </div>
  <div sec:authorize="isAuthenticated()" class="my-2" style="margin-top:25px"> Logged in user: <span sec:authentication="name"></span> | Roles: <span sec:authentication="principal.authorities"></span>
    <div style="display:inline-block">
      <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/> </form>
    </div>
  </div>
  </p>
</body>
</html>