<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Lista Quadri</title>
</head>
<body>
	<div>
		<form action = "#" th:action="@{/ricerca}" method = "POST">
			<label>Ricerca per:</label> 
			<select name = "selectRicerca" id = "selectRicerca">
				<option value="1" th:selected="true">Titolo Quadro</option>
				<option value="2">Anno Quadro</option>
				<option value="3">Nome e/o Cognome Autore</option>
				<option value="4">Nazionalita Autore</option>
			</select>
			<input type ="text" name ="searchBox"/>
			<input type="submit" value = "Ricerca"/>
		</form>
	</div>
	<span th:if ="${nessunRisultato}" style ="color:red">La ricerca non ha prodotto nessun risultato con i parametri indicati!</span>
	<h1>Lista dei Quadri:</h1>
	<ul>
		<li th:each="quadro : ${quadri}">
			<a th:href="@{/dettagliQuadro(id=${quadro.id})}" th:text="${quadro.titolo}"></a>
		</li>
	</ul>
	<h1>Lista degli Autori:</h1>
	<ul>
		<li th:each="autore : ${autori}">
			<a th:href="@{/dettagliAutore(id=${autore.id})}" th:text="${autore.nome} + ' ' + ${autore.cognome}"></a>
		</li>
	</ul>
	<div><a href = "index">Torna alla home page</a></div>

	<span th:if="${autoreCancellatoCorrettamente}" style ="color:red">
		 <b>L'autore e' stato cancellato correttamente!</b>
	</span>
	<span th:if="${quadroCancellatoCorrettamente}" style ="color:red">
		 <b>Il quadro e' stato cancellato correttamente!</b>
	</span>
</body>
</html>