<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<style type="text/css">
body {
background: url(https://kunstmuseumbasel.ch/storage/11_mg4871_4453008e.jpg) no-repeat;
background-size: 100%;
padding-top:70px;
}
.navbar-default .navbar-nav>li>a {
    padding-bottom: 24px;
    }
      .myBackground{
    background-color:rgba(255,255,255,0.9);
    color:inerith;}
        .navbar-default .navbar-nav>li>a:hover{
    background-color:#dddddd;
    }
</style>
    <title>Login</title>
  </head>
  <body>
  <nav class="navbar navbar-default col-md-12 navbar-fixed-top">
<ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="index"><font color="blue"> Home </font> <span class="sr-only">(current)</span></a></li>
        <li><a href="lista"><font color="red"> Lista Quadri</font></a></li>
           <li ><a href="inserimento" sec:authorize="hasAuthority('ADMIN')"><font color="green"> Nuovo Quadro</font> <span class="sr-only">(current)</span></a></li>
		  <li ><a href="admin" sec:authorize="hasAuthority('ADMIN')"><font color="black"> Pannello di controllo</font></a></li>
    </ul>
    </nav>
    <div>
        <div class="container">
    <div class="jumbotron myBackground">
        <form th:action="@{/login}" method="post">               
            <fieldset>
            
                <legend>Please Login</legend>
                <div th:if="${param.error}" class="alert alert-error">    
                    username e/o password invalidi.
                </div>
                <div th:if="${param.logout}" class="alert alert-success"> 
                    Hai effettuato il Logout correttamente.
                </div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username"/>        
                <label for="password">Password</label>
                <input type="password" id="password" name="password"/>    
                <div class="form-actions">
                    <button type="submit" class="btn">Log in</button>
                </div>
            </fieldset>
        </form>
        </div>
        </div>
    </div>
  </body>
</html>