<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
	//questa funzione mi controlla che il valore inserito dentro il campo password, e quello conferma password siano uguali
	//altrimenti applica un po' di magia CSS e ci da qualche errore visivo. In questo modo evito di confermare la password nel back-end
	function checkPasswordMatch() {
	    var password = $.trim($("#Password").val());
	    var confirmPassword = $.trim($("#ConfermaPassword").val());
	
	    if (password != confirmPassword){
	    		if(password.length > 1){
		       	 	$("#spanCheckPasswordMatch").html("Password diverse");
		       	 	$('#spanCheckPasswordMatch').css("color", "red");
		       	 	$('#Password').css("border", "1px solid red");
		       	 	$('#ConfermaPassword').css("border", "1px solid red");
		        	$('#submit').prop('disabled', true);
	    		}
	    	}
	    else{
	        $("#spanCheckPasswordMatch").html("Le password sono uguali!");
       	 	$('#spanCheckPasswordMatch').css("color", "green");
       	 	$('#Password').css("border", "1px solid green");
       	 	$('#ConfermaPassword').css("border", "1px solid green");
	        $('#submit').prop('disabled', false);
	    }
	}
	
	$(document).ready(function () {
	   $("#ConfermaPassword").keyup(checkPasswordMatch);
	});
</script>
<script src='https://www.google.com/recaptcha/api.js'></script>

<title>Registra nuovo Utente</title>
</head>
<body>
	<div>
		<form action="#" th:action = "@{/register}" th:object = "${utente}" method = "POST">
			<h1>Inserisci i tuoi dati:</h1>
			<div>Username : <input type = "text" th:field = "*{username}"/> 
				<span th:if="${#fields.hasErrors('username')}" th:errors = "*{username}">Error</span>
				<span th:if ="${usernameEsistente}" style= "color:red">Username gia' esistente, selezionane un altro!</span> 
			</div>
			
			<div style = "margin-top:10px">Password: <input type = "password" id ="Password" th:field = "*{password}" th:value ="${confermaPassword}"/> 
				<span th:if="${#fields.hasErrors('password')}" th:errors = "*{password}">Error</span>
			</div>
			
			<div style = "margin-top:10px">Conferma Password: <input type = "password" id ="ConfermaPassword" name ="ConfermaPassword" th:value ="${confermaPassword}"/> 
				<span id="spanCheckPasswordMatch"></span>
			</div>
			
			<div style = "margin-top:10px">Email: <input type = "text" th:field = "*{email}"/> 
				<span th:if="${#fields.hasErrors('email')}" th:errors = "*{email}">Error</span>
			</div>
			
			<div style = "margin-top:10px">Nome: <input type = "text" th:field = "*{nome}"/> 
				<span th:if="${#fields.hasErrors('nome')}" th:errors = "*{nome}">Error</span>
			</div>
			
			<div style = "margin-top:10px">Cognome: <input type = "text" th:field = "*{cognome}"/> 
				<span th:if="${#fields.hasErrors('cognome')}" th:errors = "*{cognome}">Error</span>
			</div>
			
			<!--Questo div abilita il re-CAPTCHA di google per verificare che un umano si sta registrando e non un robot  --> 
			<div class="g-recaptcha" th:attr="data-sitekey=${@captchaSettings.getSite()}"></div>
			        <span id="captchaError" class="alert alert-danger col-sm-4" style="display:none"></span>
			
			<span><input type = "submit" value = "Registra Utente" id = "submit" disabled = "disabled"/></span>
			<button type ="submit" form ="homeForm" style = "disply:inline; margin-left: 5px">Torna alla home!</button>
		</form>
		
		<form action = "index" method = "GET" id ="homeForm">
		</form>
	</div>
</body>
</html>