<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
body {
background: url(https://kunstmuseumbasel.ch/storage/11_mg4871_4453008e.jpg) no-repeat;
background-size: 100%;
padding-top:70px;
background-attachment:fixed;
}
.navbar-default .navbar-nav>li>a {
    padding-bottom: 24px;
    
    }
      .myBackground{
    background-color:rgba(255,255,255,0.9);
    color:inerith;}

	label{
		float:left;
	}
   .navbar-default .navbar-nav>li>a:hover{
    background-color:#dddddd;
    }

</style>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
	//questa funzione mi controlla che il valore inserito dentro il campo password, e quello conferma password siano uguali
	//altrimenti applica un po' di magia CSS e ci da qualche errore visivo. In questo modo evito di confermare la password nel back-end
	function checkPasswordMatch() {
	    var password = $.trim($("#password").val());
	    var confirmPassword = $.trim($("#confermaPassword").val());
	
	    if (password != confirmPassword){
	    		if(password.length > 1){
		       	 	$("#spanCheckPasswordMatch").html("Password diverse");
		       	 	$('#spanCheckPasswordMatch').css("color", "red");
		       	 	$('#password').css("border", "1px solid red");
		       	 	$('#confermaPassword').css("border", "1px solid red");
		        	$('#submit').prop('disabled', true);
	    		}
	    	}
	    else{
	        $("#spanCheckPasswordMatch").html("Le password sono uguali!");
       	 	$('#spanCheckPasswordMatch').css("color", "green");
       	 	$('#password').css("border", "1px solid green");
       	 	$('#confermaPassword').css("border", "1px solid green");
	        $('#submit').prop('disabled', false);
	    }
	}
	
	$(document).ready(function () {
	   $("#confermaPassword").keyup(checkPasswordMatch);
	});
</script>

<title>Registra nuovo Utente</title>
</head>
<body>
	<div>
	<nav class="navbar navbar-default col-md-12 navbar-fixed-top">
    <ul class="nav navbar-nav navbar-right">
          <li class="active" ><a href="index" class="glyphicon glyphicon-home"><font color="blue"><strong> Home</strong> </font> <span class="sr-only">(current)</span></a></li>
        <li ><a href="lista" class="glyphicon glyphicon-camera"><font color="red"><strong> ListaQuadri</strong></font></a></li>
           
    </ul>
</nav>
	<h1 class="text-center text-uppercase text-muted" style="color:blue;">Registrazione Utente</h1>
    <div class="container">
    <div class="jumbotron myBackground">


		<div id="form" align="center" style="margin-left:35%;">
			<form class="form-horizontal" th:action="@{/register}" method ="post" th:object="${utente}">

				<div class="form-group">
					<div class="row">
            			<div class="col-md-6">
						<label for="username" class="col-2 col-form-label">
							Username
						</label>
						<input class="form-control" type="text" th:field="*{username}"/>
						<span th:if="${#fields.hasErrors('username')}" th:errors = "*{username}">Error</span>
						<span th:if ="${usernameEsistente}" style= "color:red">Username gia' esistente, selezionane un altro!</span> 
					</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="row">
            			<div class="col-md-6">
						<label for="password" class="col-2 col-form-label">
							Password
						</label>
						<input class="form-control" type="password" th:field="*{password}" id ="password"/>
						<span th:if="${#fields.hasErrors('password')}" th:errors = "*{password}">Error</span>
					</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="row">
            			<div class="col-md-6">
						<label for="confermaPassword" class="col-2 col-form-label">
							Conferma Password
						</label>
						<input class="form-control" type="password" id ="confermaPassword"/>
						<span id="spanCheckPasswordMatch"></span>
					</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="row">
            			<div class="col-md-6">
						<label for="email" class="col-2 col-form-label">
							Email
						</label>
						<input class="form-control" type="text" th:field="*{email}"/>
						<span th:if="${#fields.hasErrors('email')}" th:errors = "*{email}">Error</span>
					</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="row">
            			<div class="col-md-6">
						<label for="nome" class="col-2 col-form-label">
							Nome
						</label>
						<input class="form-control" type="text" th:field="*{nome}"/>
						<span th:if="${#fields.hasErrors('nome')}" th:errors = "*{nome}">Error</span>
					</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="row">
            			<div class="col-md-6">
						<label for="cognome" class="col-2 col-form-label">
							Cognome
						</label>
						<input class="form-control" type="text" th:field="*{cognome}"/>
						<span th:if="${#fields.hasErrors('cognome')}" th:errors = "*{cognome}">Error</span>
					</div>
					</div>
				</div>
		<div class="form-group">
				<div class="row">
           			<div class="col-md-6">		
				<button class="btn btn-primary" type="submit" id="submit" disabled="disabled">Registrati</button>
				</div>
				</div>
				</div>		
			</form>
		</div>

	</div>
	</div>
	</div>
</body>
</html>